
body {
    font-family: "Open Sans", helvetica, arial, sans-serif;
    margin: 3vw;
    background-image: url("./Background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    background-size: cover;
  }

  h1 {
    color: #4E92DF;
    z-index: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .portfolio {
    position: relative;
    text-align: center;
  }

/* 
  .h1::after {
    position: absolute;
    z-index: -1;
    background:#4E92DF;
    transform: scaleX(0.075);
    transform-origin: left;
    transition: transform 250ms ease-in;
  } */
  
  .logo {
    text-align: left;
    width: 48vw;
  }
  
  .main {
    display: flex;
    justify-content: space-around;
    height: 70vh;
  }
  
#header {
    position: relative;
    text-align: center;
}

  .left,
  .right {
    width: 40vw;
  }
  
  img {
    height: 40vh;
    width: auto;
    margin: 3vh 0;
  }
  
  a,
  a:visited {
    /* color: DodgerBlue; */
    color:black;
  }
  
  @font-face {
    font-family: Yellowtail;
    src: url("https://cdn.glitch.com/0bbec082-7d40-4980-a895-a6a1b6e627ab%2FYellowtail-Regular.ttf?v=1608923698829");
    font-weight: bold;
  }

  h1 {
    text-align: center;
    font-family: Yellowtail;
    font-size: 60px;
  }
  
  h2 {
    font-family: Yellowtail;
    font-size: 30px;
  }
  
  h3 {
    font-family: Yellowtail;
    font-size: 30px;
  }
  
  myVideo.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 30px;
  }

  .topnav {
    background-color: transparent;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    justify-content: space-evenly;
    z-index: 2;
  }
  
  .topnav a:hover {
    background-color:#34ade6;
    color: black;
  }
  
  .topnav a.active {
    background-color: #34ade6;
    color: white;
  }

  footer {
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .right {
    margin: 0;
    max-width: 1500px;
    width: 100%;
    height: 100%;
  }

  .hide {
    display: none;
  }
  
  .myDIV:hover + .hide {
    display: block;
    color: red;
  }
  
  div.center {
    text-align:center;
    top: -150px;
  }

  p,
  p2 {
    font-family: "Corben";
    font-size: 16.5px;
  }
  
  a2,
  a2:visited {
    /* color: DodgerBlue; */
    color: black;
  }

  .LI-profile-badge {
    overflow: hidden;
  }

  section {
    margin: 40px;
  }
